html {
    min-height: 100%;
    position: relative;
}

body {
    margin: 0;
    width: 100%;
    height: 100%;
}

div#map {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width:100%;
    /*width: calc(100% - 300px);*/
}

div.trackcol{
    width:100px;
}

div.durationcol{
    width:50px;
}

a.permalink {
    float:right;
}

div#logo, div#logo img {
    height:100px;
}
div#logo p{
    margin-top: 0px;
    margin-bottom: 0px;
}
div#logo {
    background-image: url('images/gpxpod.png');
    width: 100px;
    background-size: 100px 100px;
    background-repeat: no-repeat;
    margin: auto;
}


#folderrightdiv, #removeelevation, #comparebutton, #optionbuttonsdiv{
    float:right;
    display:block;
}

#titlechoosedirform, #folderleftdiv, #optioncheckdiv, #computecheckdiv{
    float:left;
    display:block;
}
#folderrightdiv {
    max-width:60%;
}
#folderleftdiv {
    max-width:40%;
}

#folderrightdiv{
    border-left:solid 1px;
}

#optioncheckdiv{
    border-right:solid 1px;
}

#titlechoosedirform{
    font-size: 16px;
    font-weight: bold;
}
h1.sectiontitle{
    font-size: 18px;
    font-weight: bold;
}
h3.sectiontitle{
    font-size: 16px;
    font-weight: bold;
}

ul,hr {
    margin-top : 3px;
    margin-bottom : 3px;
}
h3 {
    margin-top : 5px;
    margin-bottom : 5px;
}

.transparent {
    opacity : 0.6;
}

.uibutton {
    font-size: 13px;
    height : 28px;
}

#filterlist li input{
    margin-bottom: 10px;
    width:100px;
}

#filterlist li b{
    margin-bottom: 10px;
}

#filterlist li .ui-spinner {
    height:28px;
    margin-bottom: 5px;
    margin-top: 5px;
}

#clearfilter{
    margin-left:10px;
}
.filterbutton{
    float:right;
}

#filtertabtitle h1{
    float:left;
    margin-left:30px;
}

#gpxtable{
    word-wrap: break-word;
    border-radius: 7px;
}
#gpxtable tr:first-child th:first-child
{
    border-top-left-radius: 7px;
}
#gpxtable tr:first-child th:last-child
{
    border-top-right-radius: 7px;
}
#gpxtable tr:last-child td:first-child
{
    border-bottom-left-radius: 7px;
}
#gpxtable tr:last-child td:last-child
{
    border-bottom-right-radius: 7px;
}

#gpxtable th, #gpxtable td {
    border: 1px solid grey;
}

.activeArea{
    position: absolute;
    top: 10px;
    left: 450px;
    right: 10px;
    bottom: 10px;
}

#settings{
    color:black;
}
.disclist{
    margin-left:20px;
    list-style-type:disc;
}
#loading, #loadingmarkers {
    width: 190px;
    height: 35px;
    text-align: right;
    font-weight: bold;
    font-size: 22px;
    color: white;
    background-image: url('images/loading.gif');
    background-color: #0074D9;
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: 3% 50%;
    border-radius: 7px;
    /*float: right;*/
    position:fixed;
    left:60px;
    top:60px;
    display:none;
    /*z-index: 1000;*/
}

#loadingmarkers {
    background-color: green;
    width: 220px;
}

#loading p, #loadingmarkers p{
    padding-top:6px;
}
.clear {
    clear:both;
}
#nofolder {
    font-size: 16px;
    font-weight: bold;
    color:red;
}
#nofoldertext ,#nofolder {
    float:left;
    clear:both;
}
#nofoldertext{
    color:blue;
}
#saveForm, #subfolderselect {
    float:right;
}
#subfolderselect {
    max-width:200px;
}
#ticv {
    display:none;
}
