.mapboxgl-ctrl-geocoder > input,
.maplibregl-ctrl-compass,
.maplibregl-ctrl-zoom-in,
.maplibregl-ctrl-zoom-out {
	margin: 0 !important;
	border-radius: unset !important;
}

.maplibregl-ctrl-compass,
.maplibregl-ctrl-zoom-in,
.maplibregl-ctrl-zoom-out {
	width: 40px !important;
	height: 40px !important;
}

.maplibregl-ctrl-attrib {
	background-color: var(--color-main-background) !important;
	&-inner > * {
		color: var(--color-main-text) !important;
	}
}

.maplibregl-ctrl-top-left {
	margin-top: 35px;
}

.maplibregl-popup-anchor-top .maplibregl-popup-tip {
	border-bottom-color: var(--color-main-background) !important;
}
.maplibregl-popup-anchor-bottom .maplibregl-popup-tip {
	border-top-color: var(--color-main-background) !important;
}
.maplibregl-popup-content {
	color: var(--color-main-text);
	background: var(--color-main-background);
	padding: 0;
	> div {
		padding: 4px;
		&.with-button {
			padding: 4px 32px 4px 4px;
		}
		border: 3px solid;
		border-radius: var(--border-radius);
	}
	.maplibregl-popup-close-button {
		width: 32px;
		height: 32px;
		padding: 0;
		margin: 4px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

.mouse-position-control {
	margin: 0 !important;
	background-color: var(--color-main-background-translucent);
	color: var(--color-main-text);
	padding: 0 2px;
}

.mapboxgl-ctrl-geocoder {
	min-width: 200px;
	width: 200px;
	> input {
		color: var(--color-main-text) !important;
		height: 36px !important;
		padding: 6px 35px !important;
	}
	&--suggestion {
		color: var(--color-main-text) !important;
	}
	.suggestions {
		background-color: var(--color-main-background);
		li.active a, li:hover a {
			background-color: var(--color-background-hover);
		}
	}
	&--pin-right button {
		border-radius: unset;
		width: unset;
		min-height: unset;
		margin: 0;
		padding: 0;
		background-color: unset;
		border: 0;
	}

	&--icon {
		filter: var(--background-invert-if-dark);
	}
}

.mapboxgl-ctrl-group,
.maplibregl-ctrl-group {
	filter: var(--background-invert-if-dark);
}

.mapboxgl-style-list > button {
	color: var(--color-text-maxcontrast);
	font-weight: unset;
	&.active {
		font-weight: bold;
		color: black;
	}
}

/**
 My custom tile control
 */
.my-custom-tile-control {
	select {
		background-color: var(--color-main-background);
		color: var(--color-main-text);
		max-width: 150px;
	}
}
