#app {
	width: 100%;
}
#map *{
	box-sizing: content-box;
}
.icon-gpxpod-black {
	background-image: url('../img/app_black.svg');
	filter: var(--background-invert-if-dark);
}
/* for NC <= 24 */
body.theme--dark .icon-mattermost-search-fallback {
	background-image: url('../img/app.svg');
}

.leaflet-popup-content-wrapper {
	background-color: var(--color-main-background) !important;
	color: var(--color-main-text) !important;
}
