#app {
    width: 100%;
}
#password-form {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
    width: 30%
}
#password-form input {
    width: 100%;
}
#wrongcredentials {
    color: var(--color-error);
    font-weight: bold;
}
